html,
body {
  font-size: 16px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
select,
option,
p {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.container {
  width: 1200px;
  margin: 0 auto;
}
