* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
}

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
input,
label,
textarea,
select,
option,
p {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1rem;
}

.layout {
  display: grid;
  grid-column-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "main"
    "side";
}

.main {
  grid-area: main;
}

.side {
  grid-area: side;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    padding: 0;
  }

  .layout {
    grid-template-areas:
      "main side";
    grid-template-columns: 8fr 4fr;
  }
}
